<div class="container">
    <p>
        <strong>Aplicación de Gestión de Archivos en Segundo Plano con Angular Material</strong><br>

        Esta aplicación, desarrollada con Angular y Angular Material, permite a los usuarios crear y descargar
        archivos grandes en segundo plano, mejorando la experiencia de usuario al permitirles seguir navegando por
        la aplicación mientras los archivos se generan y se descargan. Entre las características principales se
        incluyen:<br>
    </p>
    <ul>
        <li><strong>Creación de Múltiples Archivos:</strong> Los usuarios pueden generar múltiples archivos de manera simultánea sin afectar su capacidad de interactuar con otras partes de la aplicación.</li>
        <li><strong>Cola de Archivos:</strong> Un contador en un snack muestra cuántos archivos están actualmente en cola, proporcionando una indicación visual clara del estado de las tareas en segundo plano.</li>
        <li><strong>Notificaciones de Estado:</strong> La aplicación utiliza notificaciones para informar a los usuarios sobre el progreso y la finalización de la creación de archivos.</li>
        <li><strong>Interfaz de Usuario Intuitiva:</strong> La integración con Angular Material asegura una experiencia de usuario fluida y moderna, con componentes visuales atractivos y fáciles de usar.</li>
    </ul>
    <p>
        Esta aplicación es ideal para usuarios que necesitan generar y manejar archivos grandes frecuentemente,
        proporcionando una solución eficiente y no intrusiva para la gestión de tareas en segundo plano.
    </p>
</div>